@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.cdnfonts.com/css/avenir-next-cyr");
@font-face {
	font-family: Avenir-Next-Cyr;
	src: local("AvenirNextCyr-Regular"),
	url(/src/assets/font/AvenirNextCyr-Regular.ttf);
}

/*
=============== 
Variables
===============
*/
:root {
	--clr-white: #fff;
	--clr-black: #000;
	--clr-primary-1: #e75626;
	--clr-primary-2: #be3b10;
	--clr-primary-3: #171719;
	--clr-primary-4: #262628;
	--clr-primary-5: #5a5a5a;
	--clr-primary-6: #c7c7c7;
	--clr-primary-7: #d2c4c4;
	--transition: all 0.3s linear;
}

/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: var(--clr-primary-3);
	overflow: hidden;
	margin: 0 4rem;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}

a, input {
	color: var(--clr-white);
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Bebas Neue", sans-serif;
	font-style: normal;
	font-weight: 700;
	color: var(--clr-white);
}

h2, h3 {
	color: var(--clr-primary-1);
}

h1 {
	line-height: 2.3125rem;
	font-size: 36px;
}

h2 {
	font-size: 32px;
}

h3 {
	font-size: 28px;
}

h4 {
	line-height: 1.5625rem;
	font-size: 24px;
}

h5 {
	font-size: 18px;
}

h6 {
	line-height: 0.875rem;
	font-size: 14px;
}

p {
	line-height: 1.1875rem;
	font-family: "Avenir-Next-Cyr", sans-serif;
	font-size: 16px;
	font-weight: 400;
	font-style: normal;
	color: var(--clr-white);
}

.content {
	position: relative;
	display: flex;
	justify-content: space-between;
	margin: 0rem 0 3.75rem;
}